.call-button {
    font-family: 'Proxima Nova Semi', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 18px 25px;
    cursor: pointer;
    color: black;
    min-width: 170px;
    border-radius: 0.25rem;
    border: 1px solid black;
    background: white;
    height: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-button:hover {
    background: black;
    color: white;
}

.choose-project {
    margin-top: 40px;
    display: inline-block;
    width: 218px;
    font-family: 'Proxima Nova Semi', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    padding: 18px 25px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    outline: 0;
    border: 1px solid black;
    background: black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0.25rem;
}

.choose-project:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}

.card-button {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    /* Опционально: небольшая тень для кнопки, чтобы она выглядела приподнятой */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, .6);
}

.card-button:active {
    /* При нажатии кнопка немного опускается вниз */
    transform: translateY(4px);
    /* Опционально: уменьшаем тень, чтобы создать эффект прижатия */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}