.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 28px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    color: #4E342B;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;

}

.container__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__Up {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 89px;
}

.header__left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
    justify-content: flex-start;
    padding-bottom: 45px;
    flex: 0 0 42vw;
    border-bottom: 1px solid black;
}

.header__adres {
    font-size: 14px;
    line-height: 15px;
    width: 250px;
}

.header__adres2 {
    font-size: 14px;
    line-height: 15px;
    width: 270px;
}

.phone-number {
    color: inherit;
}

.header__right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: flex-start;
    padding-bottom: 45px;
    flex: 0 0 42vw;
    border-bottom: 1px solid black;
}

.logo__img {
    width: inherit;
    height: inherit;
}

.socials {
    display: flex;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 10px;
}

.social-link {
    width: 21px;
    height: 21px;
}

.social-button {
    width: inherit;
    height: inherit;
}


.nav-menu {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-item {
    color: inherit;
    padding-inline: 20px;
    padding-top: 21px;
    padding-bottom: 10px;
}

.link-hover:hover {
    color: rgba(78, 52, 43, 0.5);
}