.header {
    height: 157px;
    display: flex;
    align-items: center;
}

.logo__img {
    width: inherit;
    height: inherit;
}

.whatsapp-link {
    width: 42px;
    height: 42px;
}

.whatsapp-button {
    width: inherit;
    height: inherit;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
    font-family: 'Geometria', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #2d3134;
    font-size: 16px;
}

.nav-item {
    padding: 10px 0;
}

.nav-contacts {
    display: flex;
    align-items: center;
    margin-right: 0;
    gap: 20px;
}

.phone-number {
    display: block;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    color: #54555a;
}