.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* height: 157px; */
    padding-block: 25px;
    display: flex;
    align-items: center;
    background-color: #2d3134;
    color: white;
}

.logo__img {
    width: inherit;
    height: inherit;
}

.whatsapp-link {
    width: 42px;
    height: 42px;
}

.whatsapp-button {
    width: inherit;
    height: inherit;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
    font-family: 'Geometria', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-size: 16px;
    color: inherit;
}

.nav-item {
    color: inherit;
    padding: 10px 0;
}

.nav-contacts {
    display: flex;
    align-items: center;
    margin-right: 0;
    gap: 20px;
    color: inherit;
}

.phone-number {
    display: block;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    color: inherit;
}