.bread-crumbs {
    display: flex;
    gap: 15px;
}

.bread-crumbs__text-style {
    color: #9497A3;
    cursor: pointer;
    font-size: 16px;
    padding-block: 15px;
    transition: transform 0.3 ease;
}

.bread-crumbs__text-style:hover {
    color: coral;
    transform: scale(1.1);
}

.one-item__house1 {
    background-image: url('../img/card1.jpg');
    /* Укажите правильный путь к изображению */
    height: 640px;
    width: 100%;
    background-size: cover;
    /* Обеспечивает покрытие всей доступной ширины */
    background-position: center;
    /* Центрирование изображения */
    background-repeat: no-repeat;
    /* Избегаем повторения изображения */
}