/* Extra large screens: 1600px and above */
/* Для очень больших настольных мониторов и телевизоров. Подходит для дизайна с большими элементами и расширенными полями, оптимизированных для широких экранов. */

@media screen and (min-width: 1600px) {
    .container {
        width: 1500px;
    }
}

/* Large screens: 1200px - 1599px */
/* Для больших настольных мониторов. Адаптация под экраны чуть выше среднего размера, с улучшенным распределением контента и большим пространством для дополнительных элементов. */

@media (min-width: 1200px) and (max-width: 1599px) {
    .container {
        width: 1100px;
        margin: 0 auto;
    }

    .feature__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .feature__slider-wrapper {
        padding-inline: 0;
        padding-left: 40px;
    }

    .feature__params-wrapper {
        padding: 0;
        padding-left: 50px;
    }

    .description-wrapper__with-banner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-inline: 10px;
    }
}

/* Large: 992px - 1199px */
/* Для настольных компьютеров и некоторых планшетов в горизонтальном режиме. Идеально подходит для сайтов с богатым контентом и сложной структурой. */

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 850px;
    }

    
}

/* Medium: 768px - 991px */
/* Для планшетов и крупных смартфонов в горизонтальном режиме. Адаптация для удобного чтения и взаимодействия с контентом без необходимости масштабирования. */

/* Small: 576px - 767px */
/* Для малых и средних смартфонов в портретном режиме. Оптимизация интерфейса и размера контента для удобства чтения и навигации одной рукой. */

/* Extra small: 0px (320px) - 575px */
/* Для самых маленьких устройств и смартфонов. Минимальный набор контента и функционала, упрощенный интерфейс для максимальной удобства использования. */