@import url(header.css);
@import url(buttons.css);
@import url(vendor/codepen.css);
@import url(footer.css);
@import url(one-style.css);

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Обнуляем margin и padding для body и устанавливаем smooth scroll */
body {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    /* Для плавного скроллинга на iOS */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/* Обнуляем margin и padding для всех элементов заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a {
    margin: 0;
    padding: 0;
}

/* Стили для наведения (hover), фокуса (focus) и нажатия (active) */
/* a:hover,
a:focus {
    text-decoration: underline;
} */

.container {
    margin: 0 auto;
    width: 1200px;
    padding-inline: 30px;
}

.container__flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container__column {
    display: flex;
    flex-direction: column;
}

.container__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.logo {
    display: block;
    width: 175px;
    height: 72px;
    align-self: end;
}

/* main content */
.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Geometria', sans-serif;
    font-weight: 400;
    border-top: 1px solid #373737;
}

/* main-banner */

.main-banner {
    height: 600px;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/main-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
}

.main-banner__title {
    font-size: 55px;
    line-height: 50px;
    margin-top: 15px;
    font-weight: 900;
}

.main-banner__text {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 500;
}

/* main-banner */

/* catalog */
.catalog {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 130px;
    padding-bottom: 130px;
    font-family: 'Geometria', sans-serif;
    font-weight: 400;
}

.catalog__title {
    font-size: 2.875rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.catalog__link {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.catalog__link a {
    margin-inline: 4px;
    cursor: pointer;
    color: #2a6cee;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    /* Первое значение отвечает за вертикальный зазор (здесь он равен 0), второе — за горизонтальный */
    align-items: center;
    justify-content: start;
}


.card-param__wrapper {
    display: flex;
    justify-content: space-between;
}

.card-param__block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-param__img {
    width: 15px;
    height: 15px;
}

.card-param__text {
    font-size: 16px;
    font-weight: 400;
}

.card-content span {
    font-size: 1.375rem;
    font-weight: 700;
}

.card-content p {
    font-size: 16px;
    font-weight: 400;
}

/* new card styles */
/* Card */
.card {
    position: relative;
    overflow: hidden;
    flex: 0 1 calc(33.333% - 10px);
}

.card__img {
    /* стили изображения карточки */
    /* другие стили */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    /* черный цвет с нулевой прозрачностью - нет затемнения по умолчанию */
    transition: background-color .3s ease-in-out;
    z-index: 1;
    /* Убедитесь, что затемняющий слой находится между изображением и текстом/кнопками */
}

.card:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    /* черный цвет с прозрачностью, создает эффект затемнения при наведении */
}

.card-title,
.card-content p,
.card-button {
    /* стили для текста и кнопки */
    z-index: 2;
    /* убедитесь, что текст и кнопки находятся поверх затемняющего слоя */
    /* другие стили */
}

/* Стили для наведения на карточку, чтобы текст стал видимым */
.card:hover .card-title,
.card:hover .card-content p,
.card:hover .card-button {
    opacity: 1;
    /* другие стили */
}

/* new card styles */
/* catalog */

/* abouts-us */

.about-us {
    padding-top: 150px;
    padding-bottom: 130px;
}



.about-us__main-block {
    width: 48%;
    padding: 150px 100px;
    background-color: #219653;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.3em;
    margin-bottom: 40px;
}

.about-us__main-block-text {
    color: white;
    text-align: center;
}

.about-us__block {
    width: 22%;
    background: #F5F6FA;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.15em;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    padding-bottom: 60px;
}

.about-us__block-img {
    width: 100px;
    height: 100px;
    text-align: center;
    background: #219653;
    border-radius: 0px 0px 20px 20px;
    padding-top: 20px;
}

.about-us__block-text {
    margin-top: 70px;
}

.about-us__block-text-sub {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.4em;
}

/* abouts-us */

/* Стили модального окна */
input,
textarea {
    border: none;
    /* Удаление границ */
    outline: none;
    /* Удаление свечения при фокусе */
    padding: 10px;
    /* Небольшой внутренний отступ для удобства ввода */
    margin: 0;
    /* Обнуление внешних отступов */
    width: 100%;
    /* Полная ширина в пределах родительского блока */
}

#feedbackForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-input {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.modal-textarea {
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.modal {
    display: none;
    /* Скрыть модальное окно по умолчанию */
    position: fixed;
    /* Оставаться на месте при прокрутке */
    z-index: 1;
    /* Сидеть поверх всего */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включить прокрутку, если нужно */
    background-color: rgb(0, 0, 0);
    /* Цвет фона */
    background-color: rgba(0, 0, 0, 0.4);
    /* Цвет фона с прозрачностью */
}

/* Содержимое модального окна */
.modal-content {
    padding: 30px;
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% сверху и центрировано */
    border: 1px solid #888;
    width: 32%;
    /* Можно настроить под свои нужды */
    position: relative;
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 0;
    right: 5px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стилизация формы */
#feedbackForm {
    display: flex;
    flex-direction: column;
}

#feedbackForm input[type="text"],
#feedbackForm input[type="tel"],
#feedbackForm textarea {
    margin-bottom: 10px;
    /* Добавить немного пространства между полями */
}

.feedbackForm-button {
    width: 50%;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: 'Proxima Nova Semi', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 18px 25px;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили модального окна */
/* abouts-us */

/* Values-section */

.values-section {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: 0.8px;
    padding-top: 130px;
    padding-bottom: 130px;
}

.value-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.value {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: start;
    background: #F5F6FA;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    padding: 30px;
}

.value__title {
    font-size: 22px;
    line-height: 1.15em;
    letter-spacing: 0.5px;
    margin-top: 37px;
    margin-bottom: 24px;
}

.value__text {
    font-size: 17px;
    line-height: 1.4em;
    letter-spacing: 0.34px;
}

.value__img {
    width: 100%;
    height: 100%;
}

.value__img-wrapper {
    width: 61px;
    height: 61px;
}

/* Values-section */

/* review */

.reviews {
    padding-top: 130px;
    padding-bottom: 130px;
}

.container__reviews {
    justify-content: space-between;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 28%;
    align-items: center;
    gap: 15px;
    border: 0.5px solid black;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 194px 40px rgba(124, 121, 129, 0.6);
    background-color: #F5F6FA;
}

.review__img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.review__text {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}

.review__name {
    font-size: 16px;
    font-weight: 700;
}

/* review */


/* Contacts */

.contacts {
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    color: #000;
    font-style: normal;
    font-weight: 500;
    line-height: 1.15em;
}

.contacts__hat {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 84px;
}

.contacts__title {
    font-size: 55px;
    line-height: 1.1em;
}

.map {
    width: 1110px;
    height: 476px;
}

.contacts__info-wrapper {
    margin-top: 50px;
    gap: 98px;
    display: flex;
}

.contacts__info-phone-wrapper,
.contacts__info-email-wrapper,
.contacts__info-adress-wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.contacts__info-title {
    font-size: 17px;
}

.contacts__info-link {
    font-size: 20px;
}

/* Contacts */
/* main content */