@import url(header.css);
@import url(fonts.css);
@import url(buttons.css);

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Обнуляем margin и padding для body и устанавливаем smooth scroll */
body {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    /* Для плавного скроллинга на iOS */
}

/* Обнуляем margin и padding для всех элементов заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a {
    margin: 0;
    padding: 0;
}

/* Стили для наведения (hover), фокуса (focus) и нажатия (active) */
/* a:hover,
a:focus {
    text-decoration: underline;
} */

.container {
    margin: 0 auto;
    width: 1680px;
    padding-inline: 30px;
}

.container__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__column {
    display: flex;
    flex-direction: column;
}

.logo {
    display: block;
    width: 72px;
    height: 72px;
    margin-right: 1.875rem;
}

/* main content */
.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Geometria', sans-serif;
    font-weight: 400;
}

/* main-banner */

.main-banner {
    height: 600px;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/main-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
}

.main-banner__title {
    font-size: 55px;
    line-height: 50px;
    margin-top: 15px;
    font-weight: 900;
}

.main-banner__text {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 500;
}

/* main-banner */

/* catalog */
.catalog {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    padding-bottom: 200px;
    font-family: 'Geometria', sans-serif;
    font-weight: 400;
}

.catalog__title {
    font-size: 2.875rem;
    font-weight: 800;
}

.catalog__link {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.catalog__link a{
    margin-inline: 4px;
    cursor: pointer;
    color: #2a6cee;
}



/* catalog */

/* main content */