@import url(vendor/normalize.css);
@import url(header.css);
@import url(buttons.css);
@import url(vendor/codepen.css);
@import url(footer.css);
@import url(one-style.css);
@import url(table.css);

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Обнуляем margin и padding для body и устанавливаем smooth scroll */
body {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    /* Для плавного скроллинга на iOS */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    z-index: 0;
}

/* Обнуляем margin и padding для всех элементов заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a {
    margin: 0;
    padding: 0;
}

/* Стили для наведения (hover), фокуса (focus) и нажатия (active) */
/* a:hover,
a:focus {
    text-decoration: underline;
} */

.container {
    margin: 0 auto;
    width: 1200px;
}

.container__flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container__column {
    display: flex;
    flex-direction: column;
}

.container__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 175px;
    height: 72px;
    align-self: end;
}

/* main content */
.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Geometria', sans-serif;
    font-weight: 400;
    border-top: 1px solid #373737;
}

/* main-banner */

.main-banner {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/main-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
}

.main-banner__title {
    font-size: clamp(35px, 4vw, 40px);
    line-height: 50px;
    margin-top: 15px;
    font-weight: 900;
}

.main-banner__text {
    margin-top: 15px;
    font-size: clamp(25px, 3.5vw, 30px);
    font-weight: 500;
}

/* main-banner */

/* catalog */
.catalog {
    display: block;
    margin: 0;
    padding: 0;
    padding-block: 50px;
    font-family: 'Geometria', sans-serif;
    font-weight: 400;
}

.catalog__title {
    font-size: 2.875rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.catalog__link {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.catalog__link a {
    margin-inline: 4px;
    cursor: pointer;
    color: #2a6cee;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    align-items: center;
    justify-content: space-between;
}

.card-param__wrapper {
    display: flex;
    justify-content: space-between;
}

.card-param__block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-param__img {
    width: 15px;
    height: 15px;
}

.card-param__text {
    font-size: 16px;
    font-weight: 400;
}

.card-content span {
    font-size: 1.375rem;
    font-weight: 700;
}

.card-content p {
    font-size: 16px;
    font-weight: 400;
}

/* new card styles */
/* Card */
.card {
    position: relative;
    overflow: hidden;
    flex: 0 1 calc(33.333% - 10px);
}

.card__img {
    /* стили изображения карточки */
    /* другие стили */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    /* черный цвет с нулевой прозрачностью - нет затемнения по умолчанию */
    transition: background-color .3s ease-in-out;
    z-index: 1;
    /* Убедитесь, что затемняющий слой находится между изображением и текстом/кнопками */
}

.card:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    /* черный цвет с прозрачностью, создает эффект затемнения при наведении */
}

.card-title,
.card-content p,
.card-button {
    /* стили для текста и кнопки */
    z-index: 2;
    /* убедитесь, что текст и кнопки находятся поверх затемняющего слоя */
    /* другие стили */
}

/* Стили для наведения на карточку, чтобы текст стал видимым */
.card:hover .card-title,
.card:hover .card-content p,
.card:hover .card-button {
    opacity: 1;
    /* другие стили */
}

/* new card styles */
/* catalog */

/* abouts-us */

.about-us {
    padding-block: 50px;
}



.about-us__main-block {
    width: 48%;
    padding: 150px 100px;
    background-color: #219653;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.3em;
    margin-bottom: 40px;
}

.about-us__main-block-text {
    color: white;
    text-align: center;
}

.about-us__block {
    width: 22%;
    background: #F5F6FA;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.15em;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    padding-bottom: 60px;
}

.about-us__block-img {
    width: 100px;
    height: 100px;
    text-align: center;
    background: #219653;
    border-radius: 0px 0px 20px 20px;
    padding-top: 20px;
}

.about-us__block-text {
    margin-top: 70px;
}

.about-us__block-text-sub {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.4em;
}

/* abouts-us */

/* Стили модального окна */
input,
textarea {
    border: none;
    /* Удаление границ */
    outline: none;
    /* Удаление свечения при фокусе */
    padding: 10px;
    /* Небольшой внутренний отступ для удобства ввода */
    margin: 0;
    /* Обнуление внешних отступов */
    width: 100%;
    /* Полная ширина в пределах родительского блока */
}

#feedbackForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-input {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.modal-textarea {
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.modal {
    display: none;
    /* Скрыть модальное окно по умолчанию */
    position: fixed;
    /* Оставаться на месте при прокрутке */
    z-index: 1;
    /* Сидеть поверх всего */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включить прокрутку, если нужно */
    background-color: rgb(0, 0, 0);
    /* Цвет фона */
    background-color: rgba(0, 0, 0, 0.4);
    /* Цвет фона с прозрачностью */
}

/* Содержимое модального окна */
.modal-content {
    padding: 30px;
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% сверху и центрировано */
    border: 1px solid #888;
    width: 32%;
    /* Можно настроить под свои нужды */
    position: relative;
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 0;
    right: 5px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стилизация формы */
#feedbackForm {
    display: flex;
    flex-direction: column;
}

#feedbackForm input[type="text"],
#feedbackForm input[type="tel"],
#feedbackForm textarea {
    margin-bottom: 10px;
    /* Добавить немного пространства между полями */
}

.feedbackForm-button {
    width: 50%;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: 'Proxima Nova Semi', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 18px 25px;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили модального окна */
/* abouts-us */

/* Values-section */

.values-section {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: 0.8px;
    padding-block: 50px;
}

.value-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.value {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: start;
    background: #F5F6FA;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    padding: 30px;
}

.value__title {
    font-size: 22px;
    line-height: 1.15em;
    letter-spacing: 0.5px;
    margin-top: 37px;
    margin-bottom: 24px;
}

.value__text {
    font-size: 17px;
    line-height: 1.4em;
    letter-spacing: 0.34px;
}

.value__img {
    width: 100%;
    height: 100%;
}

.value__img-wrapper {
    width: 61px;
    height: 61px;
}

/* Values-section */


/* Contacts */

.contacts {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    color: #000;
    font-style: normal;
    font-weight: 500;
    line-height: 1.15em;
}

.contacts__hat {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 84px;
}

.contacts__title {
    font-size: 55px;
    line-height: 1.1em;
}

.map {
    width: 100%;
    height: 476px;
    margin-left: auto;
    margin-right: auto;
}

.contacts__info-wrapper {
    margin-top: 50px;
    gap: 98px;
    display: flex;
}

.contacts__info-phone-wrapper,
.contacts__info-email-wrapper,
.contacts__info-adress-wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.contacts__info-title {
    font-size: 17px;
}

.contacts__info-link {
    font-size: 20px;
}

/* Contacts */
/* main content */

/* Extra large screens: 1600px and above */
/* Для очень больших настольных мониторов и телевизоров. Подходит для дизайна с большими элементами и расширенными полями, оптимизированных для широких экранов. */

@media screen and (min-width: 1600px) {
    .container {
        width: 1500px;
    }
}

/* Large screens: 1200px - 1599px */
/* Для больших настольных мониторов. Адаптация под экраны чуть выше среднего размера, с улучшенным распределением контента и большим пространством для дополнительных элементов. */

@media screen and (max-width: 1599px) {
    .container {
        width: 1100px;
        margin: 0 auto;
    }

    .feature__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .feature__slider-wrapper {
        padding-inline: 0;
        padding-left: 40px;
    }

    .feature__params-wrapper {
        padding: 0;
        padding-left: 50px;
    }

    .description-wrapper__with-banner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-inline: 10px;
    }
}

/* Large: 992px - 1199px */
/* Для настольных компьютеров и некоторых планшетов в горизонтальном режиме. Идеально подходит для сайтов с богатым контентом и сложной структурой. */

@media screen and (max-width: 1199px) {
    .container {
        width: 850px;
    }

    .container__column {
        width: 850px
    }

    .container__header {
        width: 850px;
    }

    .header__left {
        flex: 0;
        width: 32%;
    }

    .header__right {
        flex: 0;
        width: 32%;
    }

    .projects-wrapper {
        gap: 10px 10px;

    }

    .card-wrapper {
        width: 49%;
        height: 70vh;
    }

    .container__wrap {
        gap: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .catalog__title {
        text-align: center;
    }

    .main-banner {
        height: 70vh;
    }

    .about-us__main-block {
        width: 100%;
        padding: 75px 50px;
        text-align: center;
    }

    .about-us__block {
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 40px;
        padding-bottom: 60px;
    }

    .value-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .value {
        width: 85%;
    }

    .description__banner-img-wrapper {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .one-style__banner-label {
        max-width: 850px;
    }


}

/* Medium: 768px - 991px */
/* Для планшетов и крупных смартфонов в горизонтальном режиме. Адаптация для удобного чтения и взаимодействия с контентом без необходимости масштабирования. */

@media screen and (max-width: 991px) {
    .container {
        width: 700px;
    }

    .one-style__banner-label {
        max-width: 700px;
    }

    .feature {
        padding-block: 50px;
    }

    .one-style__banner {
        height: 70vh;
    }
}

/* Small: 576px - 767px */
/* Для малых и средних смартфонов в портретном режиме. Оптимизация интерфейса и размера контента для удобства чтения и навигации одной рукой. */

@media screen and (max-width: 767px) {
    .container {
        width: 500px;
    }
}

/* Extra small: 0px (320px) - 575px */
/* Для самых маленьких устройств и смартфонов. Минимальный набор контента и функционала, упрощенный интерфейс для максимальной удобства использования. */

@media screen and (max-width: 575px) {
    .container {
        width: auto;
    }


}